<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Menu demo</title>
</head>

<body>

<div th:fragment="menu_fragment">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/article}">
                <img th:src="@{/images/img.png}" src="../static/images/img.png" alt="" width="30" height="24"
                     class="d-inline-block align-text-top rounded">
                Thymeleaf
            </a>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/article}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/article/local}">Local variable</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/article/expressions}">Expressions</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Form
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" th:href="@{/article/form}">Standard</a></li>
                            <li><a class="dropdown-item" th:href="@{/article/radio}">Radio</a></li>
                            <li><a class="dropdown-item" th:href="@{/article/flag}">Flag</a></li>
                            <li><a class="dropdown-item" th:href="@{/article/select}">Select</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            If expressions
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" th:href="@{/article/if}">If</a></li>
                            <li><a class="dropdown-item" th:href="@{/article/switch}">Switch</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/article/locale}">Locale</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/article/valid}">Validation</a>
                    </li>
                </div>
            </div>
        </div>
    </nav>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>