<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header-css">
    <meta charset="UTF-8">
    <title>Demo Shop</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <nav class="side-menu">
            <h3 th:text="#{category.filter.title}">Category</h3>
            <ul>
                <li th:each="category: ${categories}"><a
                        th:href="@{/products/filterByCategory(categoryId=${category.id})}"
                        th:text="${category.title}"></a>
                </li>
                <li>
                    <a href="/products">All</a>
                </li>
            </ul>
            <h3 th:text="#{brand.filter.title}">Brands</h3>
            <ul>
                <li th:each="brand: ${brands}"><a
                        th:href="@{/products/filterByBrand(brandId=${brand.id})}"
                        th:text="${brand.title}"></a>
                </li>
                <li>
                    <a href="/products">All</a>
                </li>
            </ul>
        </nav>
        <div style="margin-left: 150px; width: 90%">
            <div class="row">
                <nav aria-label="Page navigation example" th:if="${pages.size()} gt 1">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" th:text="#{product.pages}">Pages</a>
                        </li>
                        <div th:each="el,state:${pages}">
                            <li class="page-item" th:with="urlBuilder1=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                                <a class="page-link"
                                   th:href="@{${urlBuilder1.replaceQueryParam('page', __${el}__).toUriString()}}"
                                   th:text="${state.index}+1">
                                </a>
                            </li>
                        </div>
                        <div>
                            <li th:with="urlBuilder2=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                                <div class="container pt-0 pb-0">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton1" data-bs-toggle="dropdown"
                                                aria-expanded="false" th:text="#{product.items_on_page}">
                                            Items on page
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <li><a class="dropdown-item"
                                                   th:href="@{${urlBuilder2
                                               .replaceQueryParam('size', '4')
                                               .replaceQueryParam('page', '0')
                                               .toUriString()}}">4</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                   th:href="@{${urlBuilder2
                                               .replaceQueryParam('size', '8')
                                               .replaceQueryParam('page', '0')
                                               .toUriString()}}">8</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                   th:href="@{${urlBuilder2
                                               .replaceQueryParam('size', '16')
                                               .replaceQueryParam('page', '0')
                                               .toUriString()}}">16</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </div>
                        <div>
                            <li th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
                                <div class="container pt-0 pb-0 pl-0 ml-0">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton2" data-bs-toggle="dropdown"
                                                aria-expanded="false" th:text="#{product.sort}">
                                            Sort
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                            <li><a class="dropdown-item"
                                                   th:href="@{${urlBuilder.replaceQueryParam('sort', 'id').toUriString()}}"
                                                   th:text="#{product.sort.popularity.asc}">Popularity ascend</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                   th:href="@{${urlBuilder.replaceQueryParam('sort', 'price').toUriString()}}"
                                                   th:text="#{product.sort.price.asc}">Price ascend</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                   th:href="@{${urlBuilder.replaceQueryParam('sort', 'title').toUriString()}}"
                                                   th:text="#{product.sort.name.asc}">Name ascend</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </nav>
                <div style="min-width: 18rem;" class="col card-deck my-2" th:if="${!products.isEmpty()}"
                     th:each="product : ${products}">
                    <div class="card">
                        <div sec:authorize="hasAuthority('ADMIN')"
                             class="admin d-flex justify-content-between border-bottom">
                            <button class="btn">
                                <a th:href="@{/products/{id}/delete(id=${product.getId()})}">
                                    <span class="material-icons">delete_forever</span>
                                </a>
                            </button>
                            <button class="btn">
                                <a th:href="@{/products/{id}/invert-available(id=${product.getId()})}"><span
                                        th:utext="${product.available} ? #{product.set_not_available} : #{product.set_available}">Invert available</span></a>
                            </button>
                            <button class="btn">
                                <a th:href="@{products/{id}/edit(id=${product.getId()})}">
                                    <span class="material-icons">edit</span>
                                </a>
                            </button>
                        </div>
                        <div class="product-thumb">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#imgModal">
                                <img class="card-img-top" th:if="${product.getImgUrl().isEmpty()}"
                                     th:src="@{https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX7389458.jpg}"
                                     alt="Card image cap">
                                <img class="card-img-top" th:if="${!product.getImgUrl().isEmpty()}"
                                     th:src="@{${product.getImgUrl()}}"
                                     alt="Card image cap">
                            </a>
                        </div>
                        <div class="modal fade" id="imgModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header bg-secondary text-white">
                                        <h5 class="modal-title" id="exampleModalLabel">Picture</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img class="card-img-top"
                                             src="/images/advert.jpg"
                                             alt="Card image cap">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" th:text="${product.getTitle()}"></h4>
                            <p class="card-text" th:text="${product.getDescription()}"></p>
                        </div>
                        <div class="card-footer" th:if="${product.getAvailable()}">
                            <p th:text="'$'+${product.getPrice()}"></p>
                            <a th:href="${'/products/' + product.getId()+'/cart'}"
                               class="btn btn-lg btn-outline-info btn-block"
                               th:text="#{product.add}"></a>
                        </div>
                        <div class="card-footer" th:if="${!product.getAvailable()}">
                            <p th:text="'$'+${product.getPrice()}" style="color: silver;"></p>
                            <a class="btn btn-lg btn-outline-info btn-block" style="color: red;"
                               th:text="#{product.not_available}"></a>
                        </div>
                    </div>
                </div>
                <div style="min-width: 18rem; max-height: 15rem;" class="col card-deck-add my-2"
                     sec:authorize="hasAuthority('ADMIN')">
                    <div class="card-add">
                        <a href="/products/new">
                            <img class="card-img-top"
                                 src="/images/AddNewProduct.jpg"
                                 alt="Add new product">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>