<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: header-css">
</head>

<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="card" style="border-radius: 10px; min-width: 100%;">
                <div class="card-header px-4 py-1">
                    <h1 class="text-muted mb-0" th:text="#{profile.title}"></h1>
                </div>
                <div class="card-body p-4">
                    <div class="card shadow-0 border mb-4"
                         style="min-width: 100%;">
                        <div class="card-body" style="background-color:silver;">
                            <form class="form-signin" autocomplete="off" th:action="@{/users/profile}"
                                  th:object="${user}"
                                  method="POST">
                                <fieldset>
                                    <div>
                                        <input type="hidden" th:field="*{id}" title="id"/>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{user.username} + '*'"></label>
                                        <input sec:authorize="hasAuthority('ADMIN')" type="text" th:field="*{username}"
                                               class="form-control input-lg"
                                               title="username"
                                               autofocus="true"/>
                                        <input sec:authorize="!hasAuthority('ADMIN')" type="text" th:field="*{username}"
                                               class="form-control input-lg"
                                               title="username"
                                               autofocus="true" disabled/>
                                        <input sec:authorize="!hasAuthority('ADMIN')" type="hidden"
                                               th:field="*{username}" title="username"/>
                                        <div class="alert alert-danger error-alert"
                                             th:if="${#fields.hasErrors('username')}"
                                             th:errors="*{username}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{user.new_password}"></label>
                                        <input type="password" th:field="*{password}" class="form-control input-lg"
                                               title="password"/>
                                        <div class="alert alert-danger error-alert"
                                             th:if="${#fields.hasErrors('password')}"
                                             th:errors="*{password}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{user.confirm_new_password}"></label>
                                        <input type="password" th:field="*{matchingPassword}"
                                               class="form-control input-lg"
                                               title="passwordConfirm"/>
                                        <div class="alert alert-danger error-alert"
                                             th:if="${#fields.hasErrors('matchingPassword')}"
                                             th:errors="*{matchingPassword}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{user.email} + '*'"></label>
                                        <input type="email" th:field="*{email}" class="form-control input-lg"
                                               title="email" required/>
                                        <div class="alert alert-danger error-alert"
                                             th:if="${#fields.hasErrors('email')}"
                                             th:errors="*{email}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{user.phone}"></label>
                                        <input type="text" th:field="*{phone}" class="form-control input-lg"
                                               title="phone"/>
                                        <div class="alert alert-danger error-alert"
                                             th:if="${#fields.hasErrors('phone')}"
                                             th:errors="*{phone}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{user.firstname}"></label>
                                        <input type="text" th:field="*{firstName}" class="form-control input-lg"
                                               title="firstName"/>
                                        <div class="alert alert-danger error-alert"
                                             th:if="${#fields.hasErrors('firstName')}"
                                             th:errors="*{firstName}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{user.lastname}"></label>
                                        <input type="text" th:field="*{lastName}" class="form-control input-lg"
                                               title="lastName"/>
                                        <div class="alert alert-danger error-alert"
                                             th:if="${#fields.hasErrors('lastName')}"
                                             th:errors="*{lastName}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{user.city}"></label>
                                        <input type="text" th:field="*{city}" class="form-control input-lg"
                                               title="city"/>
                                        <div class="alert alert-danger error-alert"
                                             th:if="${#fields.hasErrors('city')}"
                                             th:errors="*{city}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label th:text="#{user.age} + '*'"></label>
                                        <input type="number" th:field="*{age}" class="form-control input-lg"
                                               title="age"
                                               required="true"/>
                                        <div class="alert alert-danger error-alert"
                                             th:if="${#fields.hasErrors('age')}"
                                             th:errors="*{age}"></div>
                                    </div>
                                    <div class="form-group" sec:authorize="hasAuthority('ADMIN')">
                                        <label th:text="#{user.role} + '*'"></label>
                                        <select th:field="*{role}" class="form-control custom-select-lg" required
                                                title="role">
                                            <option value="CLIENT" th:text="CLIENT">CLIENT</option>
                                            <option value="ADMIN" th:text="ADMIN">ADMIN</option>
                                        </select>
                                        <div class="alert alert-danger error-alert"
                                             th:if="${#fields.hasErrors('role')}"
                                             th:errors="*{role}"></div>
                                    </div>
                                    <p th:text="#{register.required}"></p>
                                    <input class="btn btn-outline-dark" type="submit"
                                           th:value="#{profile.button_save}"/>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-7">
            <div class="card" style="border-radius: 10px; min-width: 100%;">
                <div class="card-header px-4 py-1">
                    <h1 class="text-muted mb-0">Orders</h1>
                </div>
                <div class="card-body p-4" th:if="${!orders.isEmpty()}" th:each="order : ${orders}">
                    <div class="row no-border border-top">
                        <div sec:authorize="hasAuthority('ADMIN')"
                             class="admin d-flex justify-content-between border-bottom">
                            <button class="btn">
                                <a th:href="@{/orders/{id}/delete(id=${order.getId()})}">
                                    <span class="material-icons">delete_forever</span>
                                </a>
                            </button>
                            <button class="btn">
                                <a th:href="@{/orders/{id}(id=${order.getId()})}">
                                    <span class="material-icons">edit</span>
                                </a>
                            </button>
                        </div>
                    </div>

                    <div class="card shadow-0 border mb-1"
                         style="min-width: 100%;">
                        <div class="card-body">
                            <div class="row">
                                <a th:href="@{/orders/{id}(id=${order.getId()})}" class="stretched-link"></a>
                                <table class="table table-hover table-bordered border-black">
                                    <thead>
                                        <tr align="center">
                                            <th>Order N</th>
                                            <th>Order creation date</th>
                                            <th>Date of the order</th>
                                            <th>Status</th>
                                            <th>Total</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr align="center">
                                            <td th:text="${order.getId()}"></td>
                                            <td th:text="${#temporals.format(order.created,'dd-MM-yyyy')}"></td>
                                            <td th:text="${#temporals.format(order.changed,'dd-MM-yyyy')}"></td>
                                            <td th:text="${order.status}"></td>
                                            <td th:text="${order.sum}"></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row d-flex align-items-center">
                                <div class="col-md-2">
                                    <p class="text-muted mb-0 small">Track Order</p>
                                </div>
                                <div class="col-md-10">
                                    <div class="progress" style="height: 6px; border-radius: 16px;">
                                        <div th:if="${order.getStatus().toString() eq 'NEW'}" class="progress-bar"
                                             role="progressbar"
                                             style="width: 0%; border-radius: 16px; background-color: #a8729a;"
                                             aria-valuenow="0"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                        </div>
                                        <div th:if="${order.getStatus().toString() eq 'APPROVED'}" class="progress-bar"
                                             role="progressbar"
                                             style="width: 20%; border-radius: 16px; background-color: #a8729a;"
                                             aria-valuenow="20"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                        </div>
                                        <div th:if="${order.getStatus().toString() eq 'PAID'}" class="progress-bar"
                                             role="progressbar"
                                             style="width: 50%; border-radius: 16px; background-color: #a8729a;"
                                             aria-valuenow="50"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                        </div>
                                        <div th:if="${order.getStatus().toString() eq 'DELIVERED'}" class="progress-bar"
                                             role="progressbar"
                                             style="width: 100%; border-radius: 16px; background-color: #a8729a;"
                                             aria-valuenow="100"
                                             aria-valuemin="0"
                                             aria-valuemax="100">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-around mb-1">
                                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Approved</p>
                                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Paid</p>
                                        <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:each="detail : ${order.details}" class="card shadow-0 border mb-2"
                         style="min-width: 97%; margin-left:24px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <img class="img-fluid" th:if="${detail.getProduct().getImgUrl().isEmpty()}"
                                         th:src="@{https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX7389458.jpg}"
                                         style="padding: 2%;"
                                         alt="Card image cap">
                                    <img class="img-fluid" th:if="${!detail.getProduct().getImgUrl().isEmpty()}"
                                         th:src="@{${detail.getProduct().getImgUrl()}}"
                                         style="padding: 3%;"
                                         alt="Card image cap">
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0" th:text="${detail.getProduct().getTitle()}">Title</p>
                                </div>
                                <div class="col-md-5 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small"
                                       th:text="${detail.getProduct().getDescription()}">Description</p>
                                </div>
                                <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small" th:text="'Qty: '+${detail.getAmount()}">Qty</p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                    <p class="text-muted mb-0 small"
                                       th:text="${detail.getAmount()}*${detail.getPrice()}+' $'">$0</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>